<!DOCTYPE html>
<html>
    <head>
        <title>Admin Login Home</title>
    </head>

    <body>
        <h1 align="center">CARGO MANAGEMENT SYSTEM</h1>
        <h3 align="center">ADMINISTRATION LOGIN</h3>
        <br>
        <form align="center">
            Login ID : <input type="text" name="login_id"><br>
            Name : <input type="text" name="name"><br>
            Password : <input type="password" name="password"><br>
            Window : <select name="window" >
                <option value="op 1"> op 1</option>
                <option value="op 2"> op 2</option>
                <option value="op 3"> op 3</option>
                <option value="op 4"> op 4</option>
            </select><br>
            <input type="button" name="login" value="Login">
            <input type="button" name="forget_password" value="Forget Password"><br>
        </form>
    </body>
</html>