<!DOCTYPE html>
<html>
    <head>
        <title>CargoMS</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {% load static %}
        <link href="{% static 'css/main1.css' %}" rel="stylesheet" type="text/css"></link>
        <link href="{% static 'bootstrap-4.4.1-dist/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"></link>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{% static 'bootstrap-4.4.1-dist/js/bootstrap.min.js' %}"></script>

    </head>
    
    <body class="body">
        {% load crispy_forms_tags %}
        <div class="header">
               <a href="#logo" class="logo"> CARGOMS</a>
                 {% for det in details %}
                {% if user.is_authenticated %}
                    <div class="header-right">
                        {% if det.e_per_id == '111111' %}
                        <a href="{% url 'registerUser' %}"> REGISTER USER</a>
                        {% endif %}
                        <a href="{% url 'home' %}" > HOME</a>
                        <a href="{% url 'logout' %}" >LOGOUT</a>
                    </div>
                {% endif %}
                {% endfor %}
        </div >
        <br>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        <br>
        <br>
        <div>
            {% block content1 %}
            {% endblock %}
        </div>
            {% block content2 %}
            {% endblock %}
    </body>
</html>