<!DOCTYPE html>
<html>
    <head>
        <title>CargoMS</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {% load static %}
        <link href="{% static 'css/main2.css' %}" rel="stylesheet" type="text/css"></link>
        <link href="{% static 'bootstrap-4.4.1-dist/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"></link>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{% static 'bootstrap-4.4.1-dist/js/bootstrap.min.js' %}"></script>

    </head>

    <body class="b">
        {% load crispy_forms_tags %}
        
        <div class="header" >
            <div>
                CARGO MANAGEMENT SYSTEM
                {% for det in details %}
                {% if user.is_authenticated %}
                {% if request.user.username == det.e_userName %}
                <form class="logout" action="/logout/" style="float: right;">
                    {{ det.e_name | title }}  |  
                    <button type="submit" class="btn btn-primary" >LOGOUT</button>
                </form>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div >

        {% block content2 %}
        {% endblock %}

        <br>
        {% block content %}
        {% endblock %}
    </body>
</html>