{% extends 'base.html' %}
{% block content %}
    <style>
        td {
            text-align: left; 
            padding: 3px; 
            padding-left: 10px;
        }
    </style>
<div class="bill">

<h3 style="text-align: center;"><strong>CONSIGNMENT INVOICE</strong></h3>
<p>&nbsp;</p>
<table style="width: 100%; padding: 10px;" cellpadding="2" border="1px">
<tbody>
<tr>
<td style="width: 295px;"><strong>SENDER DETAILS</strong></td>
<td style="width: 297px;"><strong>INVOICE DETAILS</strong></td>
</tr>
<tr>
<td style="width: 295px;">COMPANY NAME :&nbsp;</td>
<td style="width: 297px;">INVOICE NO :</td>
</tr>
<tr>
<td style="width: 295px;">ADDRESS 1 :&nbsp;</td>
<td style="width: 297px;">DATE :</td>
</tr>
<tr>
<td style="width: 295px;">ADDRESS 2 :</td>
<td style="width: 297px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 295px;">CONTACT :</td>
<td style="width: 297px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 295px;">EMAIL :</td>
<td style="width: 297px;">&nbsp;</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p><strong>SHIPMENT/RECEIVER DETAILS</strong></p>
<table style="width: 100%;" border="1" cellspacing="2" cellpadding="2">
<tbody>
<tr>
<td style="width: 195px;">Reciever Name</td>
<td style="width: 223px;">Reciever Address</td>
<td style="width: 196px;">Reciever City</td>
</tr>
<tr>
<td style="width: 195px;">r</td>
<td style="width: 223px;">a</td>
<td style="width: 196px;">c</td>
</tr>
<tr>
<td style="width: 195px;">Reciever State</td>
<td style="width: 223px;">Reciever Pincode</td>
<td style="width: 196px;">Reciever Contact</td>
</tr>
<tr>
<td style="width: 195px;">s</td>
<td style="width: 223px;">p</td>
<td style="width: 196px;">c</td>
</tr>
</tbody>
</table>
<br>    
<p> <strong> CONSIGNMENT DETAILS</strong></p>
<table style="width: 100%;" border="1">
    <tbody>
    <tr>
    <td style="width: 15%;">ITEM&nbsp;&nbsp;</td>
    <td style="width: 26%;">DESCRIPTION</td>
    <td style="width: 15.0152%;">QTY</td>
    <td style="width: 14.9848%;">UNIT PRICE</td>
    <td style="width: 20%;">TOTAL</td>
    </tr>
    <tr>
    <td style="width: 15%;">0</td>
    <td style="width: 26%;">#</td>
    <td style="width: 15.0152%;">0</td>
    <td style="width: 14.9848%;">0</td>
    <td style="width: 20%;">0</td>
    </tr>
    </tbody>
</table>
<br>
    <table style="width: 40.5245%; float: right;" border="1px">
        <tbody>
        <tr>
        <td style="width: 47.5105%;">Subtotal</td>
        <td style="width: 57.4895%;">&nbsp;</td>
        </tr>
        <tr>
        <td style="width: 47.5105%;">Tax Rate</td>
        <td style="width: 57.4895%;">&nbsp;</td>
        </tr>
        <tr>
        <td style="width: 47.5105%;">Total Tax</td>
        <td style="width: 57.4895%;">&nbsp;</td>
        </tr>
        <tr>
        <td style="width: 47.5105%; text-align: left;">TOTAL</td>
        <td style="width: 57.4895%;">&nbsp;</td>
        </tr>
        </tbody>
        </table>
        <br><br><br><br><br>
        <br><br>    
<p>This is computer generated invoice and hence does not required signature or stamp.</p>
</div>
{% endblock %}