<!DOCTYPE html>
<html>
    <header>
        <title>Cargo Details</title>
        <style>
            table , th, td{
                text-align: center;
                border: 1px solid black;
            }
            div section{
                display: inline-table;
                width: 33%;
            }
        </style>
    </header>
    <body style="background-color: teal;">
        <h1 style="text-align: center;">Cargo Management System</h1>
        <h2 style="text-align: center;">Cargo Details</h2>
    <div>
        <section class='topAttrib'>
            <h2>Cargo Management Company</h2>
            <p>Our address : <br>
               Contact:xxxxxxxxxx<br>
               Email:user@email.com<br>
            </p>
        </section>
        <section>
            <div>
                <h4>From : </h4>
                <h4>To : </h4>
                <h4>Departure Time : </h4>
            </div>
            <div>
                <p>Vehical No. :<br>
                Chasssi no. <br>
                Vehical Make : <br>
             Outward Ewaybill No. : </p>
            </div>
        </section>
        <section>
            <div>
                <h4>Manifest no. : </h4>
                <h4>Manifest date : </h4>
                <h4>Supervisor : </h4>
            </div>
            <div>
                <p>Driver name :<br>
                Vendor Name : <br>
                License No. : <br>
             Validity : </p>
            </div>
        </section>
    </div>
    <table style="width: 100%;">
        <tr>
            <th>Dock No.</th>
            <th>Date</th>
            <th>Delivery Date</th>
            <th>From place</th>
            <th>To place</th>
            <th>Consigner</th>
            <th>Consignee</th>
            <th>No of Packages</th>
            <th>Weight</th>
            <th>Eway Billno</th>
        </tr>
        <tr>
            <td>empty</td>
            <td>empty</td>
            <td>empty</td>
            <td>empty</td>
            <td>empty</td>
            <td>empty</td>
            <td>empty</td>
            <td>empty</td>   
            <td>empty</td>
            <td>empty</td>            
        </tr>
        <tr>
            <td>empty</td>
            <td>empty</td>
            <td>empty</td>
            <td>empty</td>
            <td>empty</td>
            <td>empty</td>
            <td>empty</td>
            <td>empty</td>   
            <td>empty</td>
            <td>empty</td>            
        </tr><tr>
            <td>empty</td>
            <td>empty</td>
            <td>empty</td>
            <td>empty</td>
            <td>empty</td>
            <td>empty</td>
            <td>empty</td>
            <td>empty</td>   
            <td>empty</td>
            <td>empty</td>            
        </tr>
    </table>
    </body>
</html>