{% extends 'base.html' %} 
{% block content %}
<div class="invoice-header">
    <div class="sender-details">
        <table>
            <tr>
                <td>COMtdANY NAME</td>
                <td>Address 1</td>
                <td>Address 2</td>
                <td>tdhone No</td>
                <td>Email@comtdany.com</td>
            </tr>
        </table>
    </div>

    <div class="info-1">
        <h4>CARGOMS COMAtdANY</h4>
        <td>Invoice No : 0000</td>
        <td>Date : 00/00/0000</td>
    </div>
</div>

{% endblock %}
<br>

{% block content2 %}
    <div class="container">
    <div>
        <h5>CONSIGNMENT INVOICE</h5>
        <hr>
    </div>
    </div>
    {% endblock %}