{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

{% endblock %}

{% block content1 %}
<div class="container">
  <table class="table table-striped" border="1">
    <h4>CONSIGNMENT DETAILS</h4> <br>
    <tr>
      <td><b>CONSIGNMENT ID</b></td>
      <td><b>PACKAGE RECEIVING DATE</b></td>
      <td><b>QTY</b></td>
      <td><b>WEIGHT</b></td>
      <td><b>BILL GENERATION</b></td>
    </tr>
    
    {% for pk in c_pkg %}
    <tr>
    <td>{{pk.c_id}}</td>
    <td>{{pk.pkg_r_date}}</td>
    <td>{{pk.c_quan}}</td>
    <td>{{pk.pkg_weight}}</td>
    <td>
      <form method="POST" action="{% url 'bill_generate' %}" >
        {% csrf_token %}
        <input type="text" value="{{pk.order_id}}" name="v" readonly>
        <button class="btn btn-primary">GENERATE BILL</button>
      </form>
    </td>
    </tr>
    {% endfor %}
  </table>
    </div>
{% endblock %}