<head>
  <style>
    table{
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid rgb(15, 2, 2);
  }
  </style>
</head>

{% extends 'base.html' %}
{% load crispy_forms_tags %}
<style>
  table {
    
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid rgb(15, 2, 2);
  }

</style>

{% block content2 %}
<div class="d-flex justify-content-end ">
  <a href="{% url 'add_entry' %}" class="btn btn-primary" style="margin: 5px;"> ADD ENTRY</a>
  <a href="{% url 'logout' %}" class="btn btn-primary" style="margin: 5px;">LOG OUT</a>

</div>
{% endblock %}
{% block content %}
<h3>CUSTOMER DETAILS</h3>
<table>
  <tr >
    <td><b>ORDER ID</b></td>
    <td><b>CUSTOMER NAME</b></td>
    <td><b>CUSTOMER CONTACT</b></td>
    <td><b>RECIEVER NAME</b></td>
    <td><b>RECIEVER CONTACT</b></td>
    <td><b>RECIEVER CITY</b></td>
    {% for c_d in c_data %}
  </tr>
    <td>{{c_d.order_id}}</td>
    <td>{{c_d.cust_name}}</td>
    <td>{{c_d.s_contact}}</td>
    <td>{{c_d.r_name}}</td>
    <td>{{c_d.r_contact}}</td>
    <td>{{c_d.r_city}}</td>
    <td><a href="{% url 'expend' %}" class="btn btn-primary ">EXPEND</a></td>
    {% endfor %}
</table>  

{% endblock %}