<!DOCTYPE html>
<html>
    <head>
        <title>Customer Details</title>
        <style>
            table,th,td{
                border: 2px solid black;
                padding: 1px,1px ,1px ,1px;
                border-collapse: collapse;    
                text-align: center;
                
            }
            th{
                font-size: 18px;
                font-family: monospace;
                color: blue;
            }
        </style>
    </head>
    <body style="background-color: cadetblue;">
        <h1 style="text-align: center;">Cargo Management Details</h1>
        <h2 style="text-align: center;">Customer Details</h2>
        <table style="width: 100%;">
            <tr>
                <th>Order Id</th>
                <th>Customer Name</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Shipment Date</th>
                <th>Status</th>
            </tr>
            <tr >
                <td>1234</td>
                <td>Name</td>
                <td>desc</td>
                <td>quan</td>
                <td>rate</td>
                <td>amt</td>
                <td>date</td>
                <td>Pending</td>
            </tr>

            <tr >
                <td>1234</td>
                <td>Name</td>
                <td>desc</td>
                <td>quan</td>
                <td>rate</td>
                <td>amt</td>
                <td>date</td>
                <td>Pending</td>
            </tr>

            <tr >
                <td>1234</td>
                <td>Name</td>
                <td>desc</td>
                <td>quan</td>
                <td>rate</td>
                <td>amt</td>
                <td>date</td>
                <td>Processed</td>
            </tr>

            <tr >
                <td>1234</td>
                <td>Name</td>
                <td>desc</td>
                <td>quan</td>
                <td>rate</td>
                <td>amt</td>
                <td>date</td>
                <td>Delivered</td>
            </tr>
        </table>

    </bodyl>