<head>
  <style>
    table{
    border-collapse: collapse;
    width: 75%;
    table-layout: fixed;
  }
  th, td {
    padding: 4px;
    text-align: center;
    border: 1px solid rgb(15, 2, 2);
    
  }
  #t{
    margin-left: 10%;
  }
  </style>
</head>

{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content2 %}
<div class="d-flex justify-content-end ">
  <a href="{% url 'logout' %}" class="btn btn-primary" style="margin: 5px;">LOG OUT</a>

</div>
{% endblock %}

{% block content %}

<div id="t">
  {% for c_dd in c_data %}
  {% if c_dd.order_id == a %}
  <table >
    <h4>SENDER DETAILS</h4>
    <tr >
      <td><b>ORDER ID</b></td>
    <td>{{c_dd.order_id}}</td>
    <td><b>CUSTOMER NAME</b></td>
    <td>{{c_dd.cust_name}}</td>
  </tr>
  <tr>
    <td><b>SENDER CONTACT</b></td>
    <td>{{c_dd.s_contact}}</td>
    <td><b>SENDER ADDRESS</b></td>
    <td>{{c_dd.s_add}}</td>
  </tr>
  <tr>
    <td><b>SENDER CITY</b></td>
    <td>{{c_dd.s_city}}</td>
    <td><b>SENDER PINCODE</b></td>
    <td>{{c_dd.s_pincode}}</td>
  </tr>
</table>  

  <br><br>
  
  <table>
    <h4> RECIEVER DETAILS</h4>
  <tr>
    <td><b>RECIEVER NAME</b></td>
    <td>{{c_dd.r_name}}</td>
    <td><b>RECIEVER CONTACT</b></td>
    <td>{{c_dd.r_contact}}</td>
  </tr>
  <tr>
    <td><b>RECIEVER ADDRESS</b></td>
    <td>{{c_dd.r_add}}</td>
    <td><b>RECIEVER CITY</b></td>
    <td>{{c_dd.r_city}}</td>
  </tr>
  <tr>
    <td><b>RECIEVER PINCODE</b></td>
    <td>{{c_dd.r_pincode}}</td>
    <td><b>RECIEVER STATE</b></td>
    <td>{{c_dd.r_state}}</td>
  </tr>
  </table>

  <br><br>
  {% endif %}
  {% endfor %}

  {% for p_dd in p_data %}
  {% if p_dd.order_id == a %}

  <table>
    <h4> PACKAGE DETAILS</h4>
  <tr>
    <td><b>WEIGHT</b></td>
    <td>{{p_dd.pkg_weight}}</td>
    <td><b>SERVICE TYPE</b></td>
    <td>{{p_dd.ship_service_type}}</td>
  </tr>
  <tr>
    <td><b>RECIEVING DATE</b></td>
    <td>{{p_dd.pkg_r_date}}</td>
    <td><b>RECIEVING TIME</b></td>
    <td>{{p_dd.pkg_r_time}}</td>
  </tr>
</table>
{% endif %}
{% endfor %}
<br><br>
{% for t_d in t_data %}
{% if t_d.order_id == a %}

<table>
  <h4> TRANSACTION DETAILS</h4>
  <tr>
    <td><b>TRANSACTION AMOUNT</b></td>
    <td>{{t_d.t_amt}}</td>
    <td><b>TRANSACTION DATE</b></td>
    <td>{{t_d.t_date}}</td>
  </tr>
  <tr>
    <td><b>TRANSACTION TIME</b></td>
    <td>{{t_d.t_time}}</td>
  </tr>
</table>
</div>
{% endif %}
{% endfor %}
{% endblock %}