{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}>
        {% csrf_token %}
        <div class="col-6" class="pmt" style="padding: 5% 10%;">
      <table class="table table-striped">

        <h5 style="text-align: center;">PERMITTED ACCESS TO</h5>
       {% for i in l1 %}
       {% for a in per_data %}
       {% if i == a.per %}
            
       {% if a.Description == 'Customer Details' %}
         <tr>
      <td>   
       <a href="{% url 'cust_det' %}" >  {{ a.Description }} </a>
      </td>    
       {% endif %}
       {% if a.Description == 'Cargo Details' %}
      <td>
       <a href="{% url 'cargo_det' %}"  >  {{ a.Description }} </a>
      </td> 
      </tr>
       
       {% endif %}
       {% if a.Description == 'Transaction Details' %}
      <tr>
      <td>
       <a href="{% url 'trans_det' %}" >  {{ a.Description }} </a>
      </td>
       {% endif %}
       {% if a.Description == 'Time of Delivery Manegement' %}
      <td>
       <a href="{% url 't_o_d' %}"  >  {{ a.Description }} </a>
      </td>
      </tr>
       {% endif %}
       {% if a.Description == 'Enquiry' %}
       <td>
       <a href="{% url 'enquiry_' %}"  >  {{ a.Description }} </a>
      </td>
       {% endif %}
      </tr>

       {% endif %}
       {% endfor %}
       {% endfor %}
      
      </table >  
      </div>  
      <br>
      
      <div class="status1" align="center" style="font-size: medium;">
        {% for det in details %}
        {% if user.is_authenticated %}
        {% if request.user.username == det.e_userName %}
        
        <div class="wel"> Employee Details </div>

        <table class="table table-striped" >
          <tr>
            <td>Username</td>
            <td>{{ det.e_userName }}</td>
          </tr>
          <tr>
            <td>ID No</td>
            <td>{{ det.eid_no }}</td>
          </tr>
          <tr>
            <td>Employee Name</td>
            <td>{{ det.e_name }}</td>
          </tr>
          <tr>
            <td>Emp Permission Id</td>
            <td>{{ det.e_per_id }}</td>
          </tr>
        </table>
                {% endif %}
                {% endif %}
                {% endfor %}
      </div>
  </div>
  
{% endblock %}