{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="ad ">
    <h3 style="color: rgb(1, 3, 32);" ><B> WELCOME</B></h3>
  </div>
  <div class="d-flex justify-content-start"  >
        {% csrf_token %}
        <div class="col-6" style="padding: 10% 15%;">
       HELLO WORLD
      </div>  
      <br>
     
      <div class="status" align="center" style="font-size: medium;">
        {% for det in details %}
                {% if user.is_authenticated %}
                {% if request.user.username == det.e_userName %}
                    WELCOME {{ det.e_name | title }} <br>
                    USERNAME : {{ det.e_userName }} <br>
                    ID NO : {{ det.eid_no }} <br>

                {% endif %}
                {% endif %}
                {% endfor %}
      </div>
  </div>
  
{% endblock %}