{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<br>
<br>
{% if messages %}      
{% for message in messages %}
<p  class="ad " >{{ message }}</p>
{% endfor %}
{% endif %}
<div class="ad ">
</div>
<form method="POST" action="/login/" class="d-flex justify-content-start" >
      {% csrf_token %} 
      
      <div class="col-4" class="sin" >
  <h3 style="color: rgb(5, 5, 5);" ><B> ADMINSTRATION LOGIN</B></h3>
          <br>
      {{ signinform | crispy }}
      <button type="submit" class="btn btn-primary" >SignIn</button>
    </div>  
    <br>
   
    <div class="status" align="center">
      CARGO MANAGEMENT SYSTEM
    </form>
</div>
{% endblock %}    