<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- Start WOWSlider.com HEAD section -->
<link rel="stylesheet" type="text/css" href="engine1/style.css" />
<script type="text/javascript" src="engine1/jquery.js"></script>
<!-- End WOWSlider.com HEAD section -->
<meta charset='utf-8'>
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="styles.css">
 <script src="http://code.jquery.com/jquery-latest.min.js"
type="text/javascript"></script>
 <script src="script.js"></script>
 <title>Project</title>
 <script type="text/javascript">

function MM_preloadImages() { //v3.0
 var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
 var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length;
i++)
 if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
function MM_findObj(n, d) { //v4.01
 var p,i,x; if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length)
{
 d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
 if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++)
x=d.forms[i][n];
 for(i=0;!x&&d.layers&&i<d.layers.length;i++)
x=MM_findObj(n,d.layers[i].document);
 if(!x && d.getElementById) x=d.getElementById(n); return x;
}
function MM_swapImgRestore() { //v3.0
 var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++)
x.src=x.oSrc;
}
function MM_swapImage() { //v3.0

 var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array;
for(i=0;i<(a.length-2);i+=3)
 if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc)
x.oSrc=x.src; x.src=a[i+2];}
}
 </script>
</head>
<body
onload="MM_preloadImages('../icon.jpg','../Kashmir.jpg','../TajMahal.jpg','../../Documents/Unnamed Site 2/Gateway-Of-India.jpg','../../Documents/Unnamed Site2/Jamamasjid.jpg','../../Documents/Unnamed Site2/Jamamasjid2.jpg','../../Documents/Unnamed Site 2/QutubMinar2.jpg','../../Documents/Unnamed Site 2/JantarMantar1.jpg','../../Documents/Unnamed Site 2/Lotas-Temple1.jpg')">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
 <tr>
 <td bgcolor="#006666">
 <table width="1000" border="0" cellspacing="0" cellpadding="0">
 <tr>
<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container1">

<div class="ws_images"><ul>
<li><img src="data1/images/mytour.jpg" alt="Mytour"
title="Mytour" id="wows1_0"/></li>
<li><img src="data1/images/besttour.jpg" alt="Besttour"
title="Besttour" id="wows1_1"/></li>
<li><img src="data1/images/gateway_of_india.jpg" alt="Gateway
of India" title="Gateway of India" id="wows1_2"/></li>
<li><img src="data1/images/varanasi_ghat.jpg" alt="Varanasi
Ghat" title="Varanasi Ghat" id="wows1_3"/></li>
<li><a href="http://wowslider.com"><img
src="data1/images/jamamasjid.jpg" alt="jquery image gallery"
title="Jamamasjid" id="wows1_4"/></a></li>
<li><img src="data1/images/mota.jpg" alt="Mota" title="Mota"
id="wows1_5"/></li>
</ul></div>
<div class="ws_bullets"><div>
<a href="#" title="Mytour"><span><img
src="data1/tooltips/mytour.jpg" alt="Mytour"/>1</span></a>
<a href="#" title="Besttour"><span><img
src="data1/tooltips/besttour.jpg" alt="Besttour"/>2</span></a>
<a href="#" title="Gateway of India"><span><img
src="data1/tooltips/gateway_of_india.jpg" alt="Gateway of India"/>3</span></a>
<a href="#" title="Varanasi Ghat"><span><img
src="data1/tooltips/varanasi_ghat.jpg" alt="Varanasi Ghat"/>4</span></a>

<a href="#" title="Jamamasjid"><span><img
src="data1/tooltips/jamamasjid.jpg" alt="Jamamasjid"/>5</span></a>
<a href="#" title="Mota"><span><img
src="data1/tooltips/mota.jpg" alt="Mota"/>6</span></a>
</div></div><div class="ws_script" style="position:absolute;left:-
99%"><a href="http://wowslider.com">jquery slider</a> by WOWSlider.com
v8.2</div>
<div class="ws_shadow"></div>
</div>
<script type="text/javascript" src="engine1/wowslider.js"></script>
<script type="text/javascript" src="engine1/script.js"></script>
<!-- End WOWSlider.com BODY section -->
<table width="1000" border="0" cellspacing="0" cellpadding="0"
align="center">
 <tr>
 <td>
 <div id='cssmenu'>
<ul>
 <li><a href='Home.php'>Home</a></li>
 <li><a href='Aboutus.php'>About Us</a></li>
 <li><a href='User Registration.php'>User Registration</a></li>
 <li><a href='Booking.php'>Booking</a></li>
 <li><a href='Tour Place.php'>Tour Place</a></li>

 <li><a href='Feedback.php'>Feedback</a></li>
 <li><a href='Login.php'>Login</a></li>
</ul>
</div></td>
<table width="1000" border="0" cellspacing="0" cellpadding="0"
align="center">
 <tr>
 <td align="left" valign="middle" bgcolor="#FFFFFF" >Hello Everyone, Here
we are providing a tour Packages. Who are willing to<br> See the Different
places of
 the world.<br/>
 Please choose the packages it will give you in your reasionable price.<br/>
 This site have many places Like: <strong>Kashmir, Delhi, Varanasi, Mumbai,
Etc...</strong></td>
 <td></tr>
<td><h1>Best Tour Deal are here</td></h1>
</tr>
<td>We are providing up to 15% discount on all the trip</td>
</tr>
<td><strong>India || England || America || Australiya || France || Italy || Spain anc
much more...</strong></td>
</tr>
<tr>

<td><h2>Our Thoughts</td></h2>
</tr>
<tr>
<td>Welcome to <strong>this system,</strong> We offer only the heighest
quality discounted vacation packages available throughout the world.
We are authoriserd seller of Globus tours.<br>
Here you guys can get best deal in affordable price, or you can also fix your
journey by Train or by Air.<br>
We Assure you tha any problem comes we will face it first and make it easy for
you and your family.<br>
Thanks for comming.</td>
<table width="1000" border="0" cellspacing="0" cellpadding="0"
align="center">
 <tr>
 <td bgcolor="#FFFF33"><strong>Your Place</strong></td>

 </tr>
 <tr>
 <td><a href="#" onmouseout="MM_swapImgRestore()"
onmouseover="MM_swapImage('Image16','','../Kashmir.jpg',1)"><img
src="Kashmir.jpg" width="250" height="250" /></a></td>

 <td><a href="#" onmouseout="MM_swapImgRestore()"
onmouseover="MM_swapImage('Image17','','../TajMahal.jpg',1)"><img src="taj
mahal.jpg" width="250" height="250" /></a></td>
 <td><a href="#" onmouseout="MM_swapImgRestore()"
onmouseover="MM_swapImage('Image18','','../../Documents/Unnamed Site2/Gateway-Of-India.jpg',1)"><img src="Gateway-of-India.jpg" width="250"
height="250" /></a></td>
<td><a href="#" onmouseout="MM_swapImgRestore()"
onmouseover="MM_swapImage('Image19','','../../Documents/Unnamed Site2/Jamamasjid2.jpg',1)"><img src="Jamamasjid.jpg" width="250" height="250"
/></a></td>
</tr>
<tr>
<td><a href="#" onmouseout="MM_swapImgRestore()"
onmouseover="MM_swapImage('Image20','','../../Documents/Unnamed Site2/Varanasi2.jpg',0)"><img src="Varanasi.jpg" width="250" height="250"
/></a></td>
<td><a href="#" onmouseout="MM_swapImgRestore()"
onmouseover="MM_swapImage('Image21','','../../Documents/Unnamed Site2/Qutub-Minar2.jpg',1)"><img src="Qutub minar.jpg" width="250" height="250"
/></a></td>
<td><a href="#" onmouseout="MM_swapImgRestore()"
onmouseover="MM_swapImage('Image22','','../../Documents/Unnamed Site2/Jantar-Mantar1.jpg',1)"><img src="Jantar mantar.jpg" width="250"
height="250" /></a></td>
<td><a href="#" onmouseout="MM_swapImgRestore()"
onmouseover="MM_swapImage('Image23','','../../Documents/Unnamed Site 2/Lotas-Temple1.jpg',1)"><img src="Lotus temple.jpg" width="250"
height="250" /></a></td>
</tr>
 <table width="1002" border="0" align="center" cellpadding="0"
cellspacing="0">
 <tr>
 <td width="869" bgcolor="#333333">&nbsp;</td>
 </tr>
 <tr>
 <td align="center" bgcolor="#FFFFFF"\>Audio/Video Catalogue ||Common
Prospectus || Community Colleges || </td>
 </tr>
 <tr>
 <td align="center" bgcolor="#FFFFFF">Broadcast || Feedback || Service Old
</td>
 </tr>
</table>
</body>
</html>