<!DOCTYPE html>
<html>
    <head>
        <title>Transaction Details</title>
        <style>
            table,th,td{
                border: 2px solid black;
                padding: 1px,1px ,1px ,1px;
                border-collapse: collapse;    
                text-align: center;
                
            }
            th{
                font-size: 18px;
                font-family: monospace;
                color: blue;
            }
        </style>
    </head>
    <body style="background-color:darkcyan">
        <h1 style="text-align: center;">Cargo Management Details</h1>
        <h2 style="text-align: center;">Transaction Details</h2>
        <table style="width: 100%;">
            <tr>
                <th>Order Id</th>
                <th>Customer Name</th>
                <th>Transaction Id</th>
                <th>Transaction date</th>
                <th>Amount</th>
                <th>Shipment Date</th>
                <th>Status</th>
            </tr>
            <tr >
                <td>1234</td>
                <td>Name</td>
                <td>T_id</td>
                <td>T_date</td>
                <td>amt</td>
                <td>date</td>
                <td>success</td>
            </tr>
            <tr >
                <td>1234</td>
                <td>Name</td>
                <td>T_id</td>
                <td>T_date</td>
                <td>amt</td>
                <td>date</td>
                <td>pending</td>
            </tr>
            <tr >
                <td>1234</td>
                <td>Name</td>
                <td>T_id</td>
                <td>T_date</td>
                <td>amt</td>
                <td>date</td>
                <td>rejected</td>
            </tr>
        </table>

    </body>