{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% for t_d in t_data %}

<table class="table table-striped">
  <h4> TRANSACTION DETAILS</h4>
  <tr>
    <td><b>ORDER ID</b></td>
    <td><b>CUSTOMER NAME</b></td>
    <td><b>TRANSACTION AMOUNT</b></td>
    <td><b>TRANSACTION DATE</b></td>
    <td><b>TRANSACTION TIME</b></td>
</tr>
<tr>
    <td>{{t_d.order_id}}</td>
    <td>{{t_d.cust_name}}</td>
    <td>{{t_d.t_amt}}</td>
    <td>{{t_d.t_date}}</td>
    <td>{{t_d.t_time}}</td>
</tr>
</table>
</div>
{% endfor %}

{% endblock %}